@import "tailwindcss";

:root {
  --black: #0a0a0a;
  --white: #ffffff;
  --red: #F06000;
  --gray: #f2f2f2;
  --mid: #888888;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #F06000;
  color: #ffffff;
}
